body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    
    background-image: url("Images/Recurso 9.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.first-menu{
    position: absolute;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92%;
    z-index: 1;
}

.menu-container{
    width: 24%;
    margin: 0;
}

.second-menu{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 92%
}

.isotipo-invertido{
    -webkit-filter: invert(90%); filter: invert(90%);
}

.aprendizaje {
    text-align: left;

}

.isotipo {
    text-align: center;
}

.apoyo {
    text-align: right;
}

.stream{
    text-align: left;
}

.contacto{
    text-align: right;
}

.interludio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.isotipo > a > img{
    width: 20%;
}

.interludio > img{
    width: 72%;
    margin: 0;
}

.stream-wrapper{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #3a3a3a;
}

.apoyoContainer > p, a {
    font-size: 22px;
    margin: 0;
}

.infoContact{
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    height: 50%;
    /* text-align: right; */
    margin-right: 5%;

    justify-content: right;
    text-align: end;
}

.infoContact > p {
    margin-top: 100px;
    font-size: 25px;
    bottom: 0;
    margin-top: 50px;
}

.menu-container > a{
    font-size: 25px;
    text-transform: uppercase;
}

.apoyo-wrapper{
    width: 500px;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.apoyoContainer{
    background-color: white;
    width: 100%;
    height: 17%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.first{
    height: 40%;
    flex-wrap: wrap;
}

.QR{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.clases-maestras{
    width: 95%;
    height: 88%;
    position: absolute;

    margin-top: 50px;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ponente{
    height: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
    .menu-container > a {
        font-size: 15px;
    }
    
    .apoyoContainer > p {
      font-size: 15px;
    }

    .apoyoContainer{
        width: 90%;
    }

    .isotipo {
        width: 50%;
    }

    .infoContact > p, .infoContact > a {
        margin-top: 150px;
        font-size: 25px;
        bottom: 0;
    }
}
